footer{
    background-color: lightblue;
}

/* .sidebar{
    margin: 30px;
}

.sidebar >ul li{ 
    list-style: none;
    margin-bottom: 5px;
}

.container{
    padding: 10px 10%;
    margin-bottom: 20px;
}

.main{
    width: 70%;
    float: left;
    margin-right: 30px;
} */